<main class="main">
    <div class="main__conteiner">
        <section class="section best">
        <h1>Best lorem !</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, voluptatibus magni delectus quas labore excepturi cum explicabo laudantium. Praesentium assumenda eligendi sint labore qui veniam, deleniti voluptates nisi, inventore obcaecati, natus! Soluta aliquam nam fugiat ad qui, numquam, vero ipsa quidem maxime nulla consequuntur deleniti tempore, voluptatibus possimus ratione rerum.</p>
    </section>
    
    <section class="section about">
        <h2>About lorem !</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus fuga, nostrum debitis labore est illo in aliquid veritatis itaque animi quos molestias, tenetur corporis enim, ipsum magnam quisquam amet saepe ut odio repudiandae facere quo. Voluptas mollitia commodi voluptatum quis, autem consectetur ullam enim ea repudiandae minima cum ex doloremque non, velit et numquam culpa. Facere modi, porro ullam totam soluta nemo, illo error sunt ad, aspernatur, commodi in facilis praesentium optio tempore cupiditate! Amet eos dolorum, quod, quidem aspernatur quasi fugit. Voluptatum, aperiam, vel. Qui cumque esse, distinctio odit optio accusantium facilis temporibus nisi dolores nam vitae, quibusdam dolore?</p>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, facere praesentium cupiditate! In reiciendis exercitationem, sunt provident quos perspiciatis, cum voluptatem architecto veritatis recusandae iusto.</p>
    </section>
    
    <section class="section servises">
        <h2>Servises</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptates aut omnis inventore autem at, unde delectus dicta magni vel.</p>
        <ul>
            <li>1 Lorem ipsum.</li>
            <li>2 Lorem ipsum.</li>
            <li>3 Lorem ipsum.</li>
            <li>4 Lorem ipsum.</li>
            <li>5 Lorem ipsum.</li>
            <li>6 Lorem ipsum.</li>
            <li>8 Lorem ipsum.</li>
            <li>9 Lorem ipsum.</li>
            <li>10 Lorem ipsum.</li>
            <li>11 Lorem ipsum.</li>
        </ul>
    </section>
    
    <section class="section form">
        <form action="post">
            <input type="text" placeholder=Имя>
            <input type="tel" placeholder="Телефон" required>
            <input type="text" placeholder="Email">
        </form>
    </section>
    </div>
</main>